{% include "header.html" %}


<!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 class="about">About Me</h1>
            <p>My name is Magdalena Uchman and I am Python developer.<br>
            This website is to collect all of my projects which I would like to share with<br>
            everyone who is curious about Python language.<br>
            I am starting my journey with IT and programming but I believe in myself<br>
            that I can change my life by going into this universe.<br>
            Cross my fingers!</p>
            <div class="bg-image" style="background-image: url('static/images/sunset.jpg'); height: 50vh;">
    </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4 class="about">My Interests</h4>
        <p>All of my life music was around me. Favourite band is "The Lumineers" <br>
        which i recommend you to listen on gramophone. <br>
          Books - mostly romances but Dan Brown is really good author.<br>
          I love sports as well. <br>
        My teams are: Real Madrid, LA Lakers and Orzel Przeworsk ! :)<br>
        </p>


      </div>
    </div>
  </div>

  <hr>

{% include "footer.html" %}
