{% include "header.html" %}


    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <ul class="about"><strong>MORSE-CODE</strong>
                <p>This Project is about converting word for Morse-Code.<br>
            For more -><a href="https://github.com/megigi1/morse-code"> CLICK HERE </a><- on github.</p></ul>
              <ul class="about">Second Project is coming soon ...
              <p>It will be about game - TIC TAC TOE</p></ul>
<!--              <ul>Third Project is about...</ul>-->
          </div>
        </div>
      </div>
    </div>


{% include "footer.html" %}
